<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Best smiles</lang>
	</name>
	<author>
		<lang name="default">Grigory Smirnov (testerok)</lang>
	</author>
	<homepage>http://gs.dafter.ru</homepage>
	<version>1.3</version>
	<requires>
		<livestreet>1.0.3</livestreet>
		<plugins></plugins>
	</requires>
	<description>
		<lang name="default">Best smiles for livestreet.</lang>
		<lang name="russian">Отличные Emoji смайлики с настройками.</lang>
	</description>
</plugin>